














































//PARTIE BOUTIQUE

.boutique_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
.boutique_item {
   border: 1px solid #ccc;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   padding: 20px;
   text-align: center;
    }
  
/* Responsive Design */
@media (max-width: 600px) {
    .boutique_container {
      grid-template-columns: 1fr; /* Une colonne pour petits écrans */
    }
  }
  

.boutique_item img, .item img {
  width: 100%;  /* Assure que l'image remplit la largeur de son conteneur */
  height: auto; /* Maintient le ratio d'aspect original de l'image */
  display: block; /* Élimine tout espace blanc sous l'image */
  }

